# Example how to construct mysql dsn.
# mysql://<user_name>:<password>@<hostname>:<port usually 3306>/<database_name>
MYSQL_DSN=
REDIS_DSN=redis://localhost

SERVER_PORT=2137
SERVER_DATA_DIR=.data
SERVER_DOMAIN=https://ussr.pl
SERVER_NAME=RealistikOsu
SERVER_VERIFIED_BADGE=1005

BANCHO_API_KEYS_POOL=
DIRECT_URL=https://catboy.best
CUSTOM_CLIENTS=False

DISCORD_FIRST_PLACE_WEBHOOK=
DISCORD_ADMIN_HOOK_WEBHOOK=

# Pretty optimal values for all caps.
PP_CAP_VN=700,600,700,1700
PP_CAP_RX=1200,1000,1000
PP_CAP_AP=1200
